<div class='mt-4'>
    <form>
        <div class='form-group'>
            <label for='name'>Email address</label>
            <input type='text' id='name' />
        </div>
        <button type='submit' class='btn btn-primary'>Thêm khóa học</button>
    </form>
</div>